/* General */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark-blue;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Almarai', sans-seri;
}




svg .set,.st1 {
    animation: animate 2s ease infinite;
    transform-origin: center;
    transform-box:fill-box ;
    
}

svg .st36 {
    animation: lin 2s ease infinite;
    transform-origin: center;
    transform-box:fill-box ;
    
}

.st48,.st47,.st45{
    animation: fw 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box:fill-box ;
}
@keyframes animate{
   from{
       transform: rotateZ(0deg);
   }
   to{
    transform: rotateZ(360deg);
   }
}
@keyframes fw{
   from{
       transform: rotatey(0deg);
       transform: rotatex(0deg);
   }
   to{
    transform: rotatey(40deg);
    transform: rotatex(40deg);
   }
}

@keyframes lin{
    from{
        transform: rotatey(0deg);
    }
    to{
     transform: rotatey(50deg);
    }
 }


main {
    flex: auto;
}

img {
    max-width: auto;
}

input,
textarea {
    border-radius: 30px !important;
    padding: 1.5rem 1.25rem !important;
}

.btn {
    border-radius: 30px !important;
}

.owl-stage {
    display: flex;
}

/* Custom background Colors */
.bg-darkblue {
    background-color: rgb(54, 60, 99);
    min-height: 200px;
}

/* Custom Text Colors */
.text-orange {
    font-weight: bold;
    color: $orange;
}

/* Override bootstrap */
.card {
    background-color: $bg-card;
    height: 100%;
    .mockup{
        height: 0;
        background-position:center;
        background-size: cover;
        padding-top: 100%;
    }
    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;

    }
}

.cardbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .seeprofile{
        width: fit-content;
    }

}

