@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;800&family=Tajawal:wght@400;500&display=swap');
@import './variables.scss';

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

.btn-light {
  background-color: var(--bg-btn) !important;
  color: #ffffff !important;
}
.text-dark {
  color: #393e46 !important;
}
.text-muted {
  color: #393e46 !important;
}

// Import Bootstrap after overriding variables
@import 'bootstrap/dist/css/bootstrap.css';
// Then add additional custom code here


body {
  font-family: 'Almarai', sans-serif;
  // cursor: none !important;
}


  .label {
    transition: 0.5s ease-in-out;
    height: 100px;
    width: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #6d9886;
    border-bottom-left-radius: 10px;
    transform: translate(40px, 0px);
  }

  /* Use + instead of ~ to select the direct sibling */
  .sub-image:hover .label {
    transform: translate(0px, 0px) !important;
  }

  [dir="rtl"]{
    .half-a-border-on-bottom {
      border-bottom: 5px solid;
      padding-bottom: 14px;
      border-image: linear-gradient(to left, #f2e7d5 50%, transparent 50%) 100% 1;
    }
    .label {
      transition: 0.5s ease-in-out;
      height: 100px;
      width: 40px;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #6d9886;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: unset !important;
      transform: translate(-40px, 0px);
    }
    .sub-image:hover .label {
      transform: translate(0px, 0px) !important;
    }
}