// $secondary: orange;


@import "node_modules/bootstrap/scss/bootstrap";

.bg-primary-light {
    background-color: lighten($primary, 45%) !important;
}
.bg-danger-light {
    background-color: lighten($danger, 45%) !important;
}
.bg-warning-light {
    background-color: lighten($warning, 45%) !important;
}
.bg-secondary-light {
    background-color: lighten($secondary, 45%) !important;
}